<link rel="stylesheet" type="text/css" href="css/common/common.less" />
<script type="text/javascript" src="/src/login.js"></script>
<div class="login-page">
    <div class="login-mid">
        <img style="margin-left: 115px; width:60px;" src="faviconHouse.ico" />
        <div class="login-box">
            <img src="/img/login/3.png" style="width:22px; margin:5px;" />
            <input class="login-inp js-user" type="text" placeholder="请输入用户名" />
        </div>
        <div class="login-box">
            <img src="/img/login/4.png" style="width:22px; margin:5px;" />
            <input class="login-inp js-password" type="password" placeholder="请输入密码" />
        </div>
        <input class="login-btn" value="登   陆" type="button" onclick="clickBtn();"/>
    </div>
</div>