<link rel="stylesheet" type="text/css" href="<%= _this.rootBase %>/view/common/font/iconfont.css">
<div class="base-nav" data-module-path="base-nav">
    <ul class="nav nav-customer nav-stacked">
        <li role="presentation">
            <a data-href="<%= _this.rootBase %>/eq/main"><i class="iconfont icon-computer"></i>
设备</a>
        </li>
        <!--<li role="presentation">
            <a data-href="<%= _this.rootBase %>/alert/main"><i class="iconfont icon-tongzhi"></i>
安防报警</a>
        </li>-->
         <li role="presentation">
            <a data-href="<%= _this.rootBase %>/manager/main"><i class="iconfont icon-shezhi"></i>
设备管理</a>
        </li>
        <li role="presentation">
            <a data-href="<%= _this.rootBase %>/issue/main"><i class="iconfont icon-xinxi"></i>
问题反馈</a>
        </li>
    </ul>
    <div class="toggle-nav-btn">
        <i class="glyphicon glyphicon-menu-left"></i>
        <i class="glyphicon glyphicon-menu-right"></i>
    </div>
</div>