<div class="base-nav" data-module-path="base-nav">
    <ul class="nav nav-customer nav-stacked">
        <li role="presentation">
            <a data-href="<%= _this.rootBase %>/gs/main">设备</a>
        </li>
        <li role="presentation">
            <a data-href="<%= _this.rootBase %>/beatles/main">安防报警</a>
        </li>
         <li role="presentation">
            <a data-href="<%= _this.rootBase %>/taxi/main">设备管理</a>
        </li>
        <li role="presentation">
            <a data-href="<%= _this.rootBase %>/btb/main">问题反馈</a>
        </li>
        <li role="presentation" style="display:none">
            <a data-href="<%= _this.rootBase %>/reports/main">数据统计</a>
        </li>
    </ul>
    <div class="toggle-nav-btn">
        <i class="glyphicon glyphicon-menu-left"></i>
        <i class="glyphicon glyphicon-menu-right"></i>
    </div>
</div>