<div class="content-module btb-profile-page" data-module-path="btb/profile">
    <div class="module-block">
        <form class="form-inline">
            <div class="form-group">
                <label class="control-label" for="phone">乘客手机号</label>
                <input id="phone" type="text" class="form-control js-form-field" name="phone" placeholder="请输入手机号"/>
            </div>
            <input type="button" class="btn btn-primary js-query-btn" value="查询" />
        </form>
    </div>
    <div class="module-block">
        <div class="feedback-container">
            <div class="conclusion">
                <div class="title">概要</div>
                <div class="conclusion-text"></div>
            </div>
        </div>
    </div>
    <div class="module-block">
        <div class="table-cus-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="9"><div class="js-company-name text-center"></div></th>
                    </tr>
                    <tr>
                        <th>规则名称</th>
                        <th>支付模式</th>
                        <th>用车时间</th>
                        <th>用车地点</th>
                        <th>可用车型</th>
                        <th>用车级别</th>
                        <th>是否占用个人限额</th>
                        <th>规则状态</th>
                        <th>最后修改时间</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>