<%
    include('common/header.html', {
        links: [
            _this.rootBase + '/css/issue-main.less'
        ]
    });
%>

<div class="base-container" data-module-path="issue/main">
    <div class="main-page">
        <div class="attention">
            <img src="/img/attention.png" />
            <span>为了提升客户使用效果，对本产品的建议可以填入下框，我们都会看到的哟！</span>
        </div>
        <div class="textArea">
            <textarea></textarea>
        </div>  
        <input class="issue-btn" value="提交" type="button" />

    </div>
</div>



<%
    include('common/nav.html');
%>

<%
    include('common/footer.html');
%>
