<div class="content-module freeride-order-page" data-module-path="freeride/order">
    <div class="module-block">
        <form class="form-inline">
            <div class="row-group">
                <div class="form-group">
                    <select class="form-control" name="indice" id="indice">
                        <option value="*">全部</option>
                        <option value="beatles_api" selected>beatles_api</option>
                        <option value="beatles_api_integration">beatles_api_integration</option>
                        <option value="beatles_h5">beatles_h5</option>
                        <option value="beatles_internalapi">beatles_internalapi</option>
                        <option value="beatles_jobman">beatles_jobman</option>
                        <option value="beatles_order">beatles_order</option>
                        <option value="beatles_profiles">beatles_profiles</option>
                        <option value="beatles_trade">beatles_trade</option>
                        <option value="beatles_tradejob">beatles_tradejob</option>
                        <option value="beatles_webapi">beatles_webapi</option>
                    </select>
                </div>
                <div class="form-group fold-group">
                    <select class="form-control" id="logLevel">
                        <option value="">请选择日志级别</option>
                        <option value="NOTICE">NOTICE</option>
                        <option value="FATAL">FATAL</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="urlKey" placeholder="请选择urlkey" autocomplete="off" style="width:450px"/>
                </div>
            </div>
            <div class="row-group" style="margin-top:10px;">
                <div class="form-group">
                    <input type="text" class="form-control" id="orderPhone" placeholder="请输入手机号" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="orderNO" placeholder="请输入订单号" />
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control form_time" name="payTimeRange" id="orderTimeRange" style="width: 285px;" placeholder="请选择时间" data-validate-name="orderTimeRange">
                        <label class="input-group-addon" for="orderTimeRange"><i class="glyphicon glyphicon-calendar"></i></label>
                    </div>
                    <input type="hidden" name="orderBeginTime" id="orderBeginTime">
                    <input type="hidden" name="orderEndTime" id="orderEndTime">
                </div>
                <input id="orderQuery" type="button" class="btn btn-primary query-btn" value="查询" style="margin-left: 60px;"/>
            </div>
        </form>
    </div>
    <div class="module-block">
        <div class="feedback-container">
            <div class="conclusion">
                <div class="title">概要</div>
                <div class="conclusion-text"></div>
            </div>
        </div>
    </div>
    <div class="module-block">
        <div class="data-list-wrap" style="overflow-x: auto;min-height: 500px;">
            <div id="orderTable" class="table">
                <div class="thead table-fixed-header">
                    <div class="filter-column" style="width:20px;">
                        <div class="filter-container" data-key="orderTable" title="选择列">
                            <i class="glyphicon glyphicon-filter trigger-btn column-select"></i> 
                        </div>
                    </div>
                    <div style="width:200px;">
                        <div class="sort sort-inner" data-sort-for="orderTable">
                            时间
                            <span class="glyphicon glyphicon-triangle-bottom active"></span>
                            <span class="glyphicon glyphicon-triangle-top "></span>
                        </div>
                    </div>
                    <div style="width: 200px;">
                        摘要
                    </div>
                    <div style="width: 210px;">
                        urlKey
                        <div class="filter-container need-filter" data-key="urlkey"> 
                            <i class="glyphicon glyphicon-filter trigger-btn"></i>
                        </div>
                    </div>
                    <div style="width: 150px;">
                        errno
                        <div class="filter-container need-filter" data-key="errno"> 
                            <i class="glyphicon glyphicon-filter trigger-btn"></i>
                        </div>
                    </div>
                    <div style="width: 150px">uid</div>
                    <div style="width: 200px">orderId</div>
                    <div style="width: 100px">uri</div>
                    <div style="width: 270px">traceId</div>
                    <div style="width: 100px">procTime</div>
                    <div style="width: 200px">
                        clientHost
                        <div class="filter-container need-filter" data-key="clientHost"> 
                            <i class="glyphicon glyphicon-filter trigger-btn"></i>
                        </div>
                    </div>
                    <div style="width: 200px">logid</div>
                </div>
                <div class="tbody"></div>
            </div>
            <div class="text-center get-more" style="display:none">滚动继续加载</div>
        </div>
    </div>
</div>