<div class="content-module freeride-restore-page" data-module-path="freeride/restore">
    <div class="module-block">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" value="" class="form-control js-input-order" placeholder="请输入订单号" data-validate-name="orderId" style="width:180px;"/>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control time-range" name="timeRange" id="restoreTimeRange" placeholder="请选择时间" data-validate-name="restoreTimeRange" style="width:360px;">
                    <label class="input-group-addon" for="restoreTimeRange"><i class="glyphicon glyphicon-calendar"></i></label>
                </div>
                <input type="hidden" name="beginTime" class="js-input-beginTime">
                <input type="hidden" name="endTime" class="js-input-endTime">
            </div>
            <input type="button" class="btn btn-primary query-btn" value="查询" />
        </form>
    </div>

    <div class="module-block" style="display:none">
        <div class="feedback-container">
            <div class="conclusion">
                <div class="title">概要</div>
                <div class="conclusion-text"></div>
            </div>
        </div>
    </div>

    <div class="module-block">
        <div class="map-container">
            <div class="map-canvas" id="orderRoadMap" style="height:500px"></div>
            <div class="map-tool"></div>
        </div>
    </div>

    <div class="module-block">
        <div class="panel-group order-list js-order-list" role="tablist" aria-multiselectable="true" id="order-list-wrap"></div>
    </div>

    <div class="module-block">
        <div class="data-list-wrap">
            <table class="table js-order-time-trace-table">
                <thead class="table-fixed-header">
                    <th></th>
                    <th>时间</th>
                    <th>
                        Url
                        <div class="filter-container need-filter" data-key="urlkey"> 
                            <i class="glyphicon glyphicon-filter trigger-btn"></i>
                        </div>
                    </th>
                    <th>摘要</th>
                    <th>订单号</th>
                    <th style="width: 50px;">详情</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
