<div class="airConditionerPage" data-module-path="eq/airConditioner">
    <div class="content-module" id="airConditioner">
        <form class="form-inline module-block">
            <div class="ctrl-left">
                <div class="selectBox">
                    <div class="roomBox"></div>
                    <div class="equipBox"></div>
                </div>
                <div class="ctrl-box">
                    <div class="ctrl-blcok">
                        <i class="iconfont icon-off"></i>
                        <p style="text-align: center">开关</p>
                    </div>
                </div>
            </div>
            <div class="ctrl-right">
                <div class="airConditioner airConditioner-L"></div>
            </div>
        </form>
    </div>
</div>