<div class="labPage" data-module-path="eq/lab">
    <div class="content-module" id="lab">
        <form class="form-inline module-block">
            <div class="ctrl-left">
                <div class="selectBox">
                    <div class="roomBox"></div>
                    <div class="equipBox"></div>
                </div>
                <div class="ctrl-box">
                    <div class="ctrl-blcok">
                        <i class="iconfont icon-off"></i>
                        <p style="text-align: center">开关</p>
                    </div>
                    <div class="ctrl-blcok">
                        <p class="timeSapn"><i class="iconfont icon-shizhong"></i>定时开关</p>
                    </div>
                    <div class="ctrl-blcok">
                        <input name="rr" class="radio js-on chekedTrue" type="radio" value="0" checked=true />定时关
                        <input name="rr" class="radio js-off chekedFalse" type="radio" value="1" />定时开
                    </div>
                    <div class="ctrl-blcok">
                        <input class="timeInput timeSet" type="text" data-field="datetime" readonly />
                    </div>
                    <div class="ctrl-button">
                        <input class="js-button" type="button" value="确定" />
                    </div>
                    <div id="lightBox"></div>
                </div>
            </div>
            <div class="ctrl-right">
                <div class="light light-D"></div>
            </div>
        </form>
    </div>
</div>