<%
    include('common/header.html', {
        links: [
            _this.rootBase + '/css/gs-main.less',
            _this.rootBase + '/dep/daterangepicker/daterangepicker.css'
        ]
    });
%>

    <div class="base-container" data-module-path="gs/main">
        <div class="main-page">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#driverListenOrder" class="tab-event" aria-controls="driverListenOrder" role="tab" data-index="1" data-toggle="tab">播单听单</a></li>
                <li role="presentation"><a href="#billPreOrder" class="tab-event" aria-controls="billPreOrder" role="tab" data-index="2" data-toggle="tab">预估</a></li>
                <li role="presentation"><a href="#beginBill" class="tab-event" aria-controls="beginBill" role="tab" data-index="3" data-toggle="tab">开始计费</a></li>
                <li role="presentation"><a href="#orderPrice" class="tab-event" aria-controls="orderPrice" role="tab" data-index="4" data-toggle="tab">计价里程</a></li>
                <li role="presentation"><a href="#endBill" class="tab-event" aria-controls="endBill" role="tab" data-index="5" data-toggle="tab">结束计费</a></li>
                <li role="presentation"><a href="#payBill" class="tab-event" aria-controls="payBill" role="tab" data-index="6" data-toggle="tab">支付</a></li>
                <li role="presentation"><a href="#reward" class="tab-event" aria-controls="reward" role="tab" data-index="7"  data-toggle="tab">奖励查询</a></li>
                <li role="presentation"><a href="#sceneRecovery" class="tab-event" aria-controls="sceneRecovery" role="tab" data-index="8" data-toggle="tab">场景还原</a></li>
                <li role="presentation"><a href="#newReward" class="tab-event" aria-controls="newReward" role="tab" data-index="9" data-toggle="tab">新奖励查询</a></li>
                <li class="offline" style="display: none;" role="presentation"><a href="#envCheck" class="tab-event" aria-controls="envCheck" role="tab" data-index="10" data-toggle="tab">数据检查</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="driverListenOrder">
                    <%
                        include('gs/driverListenOrder.html');
                    %>
                </div>
                <div role="tabpanel" class="tab-pane" id="billPreOrder">
                    <%
                        include('gs/billPreOrder.html');
                    %>
                </div>
                <div role="tabpanel" class="tab-pane" id="beginBill">
                    <%
                        include('gs/beginBill.html');
                    %>
                </div>
                <div role="tabpanel" class="tab-pane" id="orderPrice">
                    <%
                        include('gs/orderPrice.html');
                    %>
                </div>
                <div role="tabpanel" class="tab-pane" id="endBill">
                    <%
                        include('gs/endBill.html');
                    %>
                </div>
                <div role="tabpanel" class="tab-pane" id="payBill">
                    <%
                        include('gs/payBill.html');
                    %>
                </div>
                <div role="tabpanel" class="tab-pane" id="reward">
                    <%
                        include('gs/reward.html');
                    %>
                </div>
                <div role="tabpanel" class="tab-pane" id="sceneRecovery">
                    <%
                        include('gs/sceneRecovery.html');
                    %>
                </div>
                 <div role="tabpanel" class="tab-pane" id="newReward">
                    <%
                        include('gs/newReward.html');
                    %>
                </div>
                <div role="tabpanel" class="tab-pane" id="envCheck">
                    <%
                        include('gs/envCheck.html');
                    %>
                </div>
            </div>
        </div>
    </div>
<%
    include('common/nav.html');
%>
<%
    include('common/footer.html', { 
        scripts: [
            _this.rootBase + '/dep/daterangepicker/moment.js',
            _this.rootBase + '/dep/daterangepicker/daterangepicker.js'
        ]
    });
%>