<div class="table-responsive new-reward-page" data-module-path="gs/newReward">
    <div class="content-module">
        <div class="module-block" id="newReward">
            <form class="form-inline module-block">
                <div class="form-group">
                    <select class="form-control js-reward-query-type" name="newRewardQueryType" id="newRewardQueryType">
                        <option value="orderId" selected="selected">订单ID</option>
                        <option value="driverId">司机ID</option>
                        <option value="driverPhone">司机手机号</option>
                    </select>
                    <input type="text" class="form-control" placeholder="请输入" name="newRewardQueryInfo" id="newRewardQueryInfo" />
                    <input type="text" placeholder="请输入configId" name="newRewardConfigId" class="form-control" id="newRewardConfigId">
                </div>
                <div class="form-group">
                    <label>时间范围</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="newRewardTimeRange" id="newRewardTimeRange" style="width: 315px;">
                        <label class="input-group-addon" for="newRewardTimeRange"><i class="glyphicon glyphicon-calendar"></i></label>
                    </div>
                    <input type="hidden" name="newRewardBeginTime" id="newRewardBeginTime">
                    <input type="hidden" name="newRewardEndTime" id="newRewardEndTime">
                </div>
                <input id="newRewardQuery" type="button" class="btn btn-primary query-btn" value="查询">
            </form>
        </div>

        <div class="feedback-container module-block">
            <div class="conclusion">
                <div class="title">概要</div>
                <div id="newRewardConclusion"></div>
            </div>
        </div>

        <div class="data-list-wrap module-block">
            <table class="table table-hover" id="newRewardTable" style="table-layout:fixed;">
                <thead>
                    <tr>
                        <th class="search-toggle" style="width: 18px;"></th>
                        <th class="sort" style="width:160px" data-sort-for="newRewardTable">
                            时间
                        </th>
                        <th style="width:90px;">
                            订单号
                        </th>
                        <th style = "width:120px;">
                            司机ID
                        </th>
                        <th>
                            奖励金额
                        </th>
                        <th>
                            倍数
                        </th>
                        <th>
                            升舱倍数
                        </th>
                        <th>
                            奖励类型
                        </th>
                        <th>
                            模块名称
                        </th>
                        <th>
                            状态
                        </th>
                        <th>
                            活动ID
                        </th>
                        <th>
                            规则ID
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>