<div class="table-responsive" data-module-path="gs/orderPrice">
	<div class="content-module" id="orderPrice">
		<form class="form-inline module-block">
			<div class="form-group">
				<label for="opDistrictId">地区</label> <input type="text"
					class="form-control" id="opDistrictId">
			</div>
			<div class="form-group">
				<label for="opOrderId">订单号</label> <input type="text"
					class="form-control" id="opOrderId">
			</div>
			<div class="form-group">
				<select class="form-control" id="opModelId">
					<option value="1">专车</option>
					<option value="2">企业级专车</option>
					<option value="3">快车/拼车</option>
					<option value="4">企业级快车</option>
					<option value="5">试乘试驾</option>
				</select>
			</div>
			<div class="form-group">
				<input id="orderPriceQuery" type="button" class="btn btn-primary query-btn" value="查询">
			</div>
		</form>
		<div class="feedback-container module-block">
            <div class="conclusion">
				<div class="title">概要:（<a href="/gs/instruction#orderPricePanel" target="_blank">使用说明</a>）</div>
                <div id="orderPriceConclusion"></div>
            </div>
        </div>
        <div class="module-block">
        	<div class="btn-group btn-group-xs">
        		<button id="folded" type="button" class="btn btn-default" title="展开|收起"><i class="glyphicon glyphicon-plus"></i></button>
        		<button id="fullscreen" type="button" class="btn btn-default" title="全屏"><i class="glyphicon glyphicon-zoom-in"></i></button>
        		<label for="isShowTip" class="btn btn-default" style="height:22px" title="是否跟随显示序号"><input type="checkbox" id="isShowTip"/></label>
        	</div>
        </div>
		<div id="order-price-map" class="module-block" style="display:none;min-height: 400px;width:100%;"></div>
		<div class="data-list-wrap module-block">
			<table class="table table-fixed-header">
				<thead>
					<tr>
						<th style="width: 10%">序列号</th>
						<th style="width: 20%">时间戳</th>
						<th>纬度,经度</th>
						<th style="width: 10%">类型</th>
						<th style="width: 20%">精度</th>
					</tr>
				</thead>	
			</table>
			<div id="order-price-list" class="table-wrap">
				<table id="orderPriceTable" class="table table-hover">
					<thead>
						<tr>
							<th style="width: 10%"></th>
							<th style="width: 20%"></th>
							<th></th>
							<th style="width: 10%"></th>
							<th style="width: 20%"></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>