<div class="table-responsive" data-module-path="gs/payBill">
    <div class="content-module" id="payBill">
        <form class="form-inline module-block">
            <div class="form-group">
                <label>订单号</label>
                <input type="text" class="form-control" id="payBillOrderId">
            </div>
            <div class="form-group">
                <label>时间范围</label>
                <div class="input-group">
                <input type="text" class="form-control form_time" name="payBillTimeRange" id="payBillTimeRange" style="width: 280px;">
                <label class="input-group-addon" for="payBillTimeRange"><i class="glyphicon glyphicon-calendar"></i></label>
                </div>
                <input type="hidden" name="payBillBeginTime" id="payBillBeginTime" >
                <input type="hidden" name="payBillEndTime" id="payBillEndTime" >
            </div>
            <input id="payBillQuery" type="button" class="btn btn-primary query-btn" value="查询">
        </form>
        <div class="feedback-container module-block">
            <div class="conclusion">
                <div class="title">概要</div>
                <div id="payBillConclusion"></div>
            </div>
        </div>
        <div class="data-list-wrap module-block">
            <table class="table table-fixed-header">
                <thead>
                    <tr>
                        <th style="width:15%">
                            模块
                        </th>
                        <th class="sort" style="width:20%" data-sort-for="payBillTable">
                            日志时间
                            <span class="glyphicon glyphicon-triangle-bottom active" ></span>
                            <span class="glyphicon glyphicon-triangle-top"></span>
                        </th>
                        <th style="width:20%">
                            摘要
                        </th>
                        <th>
                            原始日志
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="table-wrap">
                <table id="payBillTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:15%"></th>
                            <th style="width:20%"></th>
                            <th style="width:20%"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>