<div class="table-responsive" data-module-path="gs/replayOrder">
    <div class="content-module" id="replayOrder">
        <form class="form-inline module-block">
            <div class="form-group">
                <label>订单号</label>
                <input type="text" class="form-control" id="replayOrderId">
            </div>
            <div class="form-group">
                <label>时间范围</label> 
                <div class="input-group">
                    <input type="text" class="form-control form_time" name="replayOrderTimeRange" id="replayOrderTimeRange" style="width: 280px;">
                    <label class="input-group-addon" for="replayOrderTimeRange"><i class="glyphicon glyphicon-calendar"></i></label>
                </div>
                <input type="hidden" name="replayOrderBeginTime" id="replayOrderBeginTime">
                <input type="hidden" name="replayOrderEndTime" id="replayOrderEndTime">
            </div>
            <input id="replayOrderQuery" type="button" class="btn btn-primary query-btn" value="查询">
        </form>
        <div class="feedback-container module-block">
            <div class="conclusion">
                <div class="title">概要</div>
                <div id="replayOrderConclusion"></div>
            </div>
        </div>
        <div class="data-list-wrap module-block">
            <table class="table table-fixed-header">
                <thead>
                    <tr>
                        <th style="width:15%">
                            模块
                        </th>
                        <th class="sort" style="width:15%" data-sort-for="replayOrderTable">
                            日志时间
                            <span class="glyphicon glyphicon-triangle-bottom active"></span>
                            <span class="glyphicon glyphicon-triangle-top"></span>
                        </th>
                        <th style="width:15%">
                            摘要
                        </th>
                        <th style="width:15%">
                            dltag
                        </th>
                        <th>
                            原始日志
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="table-wrap">
                <table id="replayOrderTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:15%"></th>
                            <th style="width:15%"></th>
                            <th style="width:15%"></th>
                            <th style="width:15%"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>