<div class="table-responsive" style="display:none;" data-module-path="sysmgr/user">
	<div class="info" id="userMgr">
		<form class="form-inline">
			<div class="form-group">
				<label for="username">用户名</label>
				<input type="text" class="form-control" id="username">
			</div>
			<button id="userMgrSearch" type="button" class="btn btn-primary">搜索</button>
		</form>
		<div class="table-wrap">
			<table id="userList" class="table table-hover table-striped">
				<thead>
					<tr>
						<th style="width:20%">
							用户名
						</th>
						<th style="width:30%">
							角色
						</th>
						<th style="width:30%">
							限制权限
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>