<%
    include('common/header.html');
%>

    <div class="base-container">
        <div class="panel panel-default" id="driverListenOrderPanel">
            <div class="panel-heading">播单听单模块说明：</div>
            <div class="panel-body">
                <ul style="list-style:none;padding-left:0;">
                    <li>一、听单集合：<br/> 存储司机信息的地方，播单需要从听单集合获取司机信息，然后进行订单与司机匹配。
                    </li>
                    <li>二、司机端切换模式：<br/> 司机端设置听单模式的信息，如：预约，实时，全部，顺路订单等听单偏好设置。
                    </li>
                    <li>三、策略过滤：<br/> 订单与司机匹配后，需要经过策略进行各种条件特征权重判断来确认司机对应订单的权重值。
                    </li>
                    <li>四、候选司机：<br/> 经过策略过滤后司机和订单匹配符合条件会被候选(此时还未推单)，而后权重值进行PK，最高者会被推送“该订单”，权限值内容包含很多，客服只需要理解权重值就是距离，订单与司机距离越近权重越高，候选只有实时订单，候选次数可以给司机播放实时订单的次数。
                    </li>
                    <li>五、策略播单：<br/> 策略服务端经过策略规则等条件筛选，最终确认订单可以推送的司机，并且立即推送订单。
                    </li>
                    <li>六、APP端播单：<br/> 司机端收到订单，播放订单，或者过滤订单；一个正常的订单在司机端播放的过程是有两个，（策略播单下发消息->司机端收到，未展示->司机向服务端拉取->司机端收到，播放；）
但是例如：如果订单在下发时司机端刚好在拨打电话，则“策略播单下发消息->司机端收到，未展示->司机端正在拨打电话，未展示”；所以一个订单正常情况下会有两条APP端播单的日志。
                    </li>
                </ul>
                <br/>
                <div>
                    播单听单模块逻辑图：<br/>
                    <img src="<%= _this.rootBase %>/img/order_process.png?v=1" width="100%" />
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="orderPricePanel">
            <div class="panel-heading">计价里程模块说明：</div>
            <div class="panel-body">
                <ul>
                    <li>里程的计算原理是根据手机端上传的经纬度可用点，进行点与点之间的连线计算出里程数据</li>
                    <li>计价系统会根据点的实际可用情况进行逻辑的过滤，筛选和使用计算，</li>
                    <li>可用经纬度点：非0.0点，GPS点，network精度小于30的点；其余的点都是不可用经纬度点，会被抛弃不使用</li>
                    <li>全程network点会拉取起点和终点的直线距离</li>
                    <li>经纬度点时间间隔过大，拉取两点距离时，因为两点中间的真实路线缺失，导致里程变小</li>
                    <li>一个正常订单是每3秒一个经纬点，把脉的点个数占比的分母按照一个订单服务时间范围内每6秒一个点进行计算的，</li>
                </ul>
            </div>
        </div>
    </div>

<%
    include('common/nav.html');
%>

<%
    include('common/footer.html');
%>